.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
test/**
.eslintignore
.eslintrc.js
.prettierrc
.prettierignore
**/*.vsix
.editorconfig
.npmrc
.nvmrc
.travis.yml
.gitlab-ci.yml
.git/** 